.about-me {
  &__desktop {
    display: none;
  }

  width: 70vw;
  margin: 0 auto;

  &__head {
    text-align: center;
    width: 200px;
    margin: 2rem auto;
    font-size: 30px;
  }

  &__image {
    border: 1px solid rgb(217, 136, 29);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 768px) {
    &__head {
      margin: 1rem auto;
      font-size: 40px;
    }
  }

  @media screen and (min-width: 1024px) {
    &__mobile {
      display: none;
    }

    &__desktop {
      display: block;
    }

    &__desktop-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10%; // optional – gap alternative
    }

    &__desktop-content {
      display: flex;
      flex-direction: row;
    }

    &__image {
      width: 30%;
      height: auto; // let height adjust naturally unless you want to fix it
      border-radius: 3%;
    }

    &__text {
      width: 60%;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1048px) {
  .about-me__image {
    height: 500px;
  }
}
