.header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    &--title {
      font-size: 25px;
      margin-top: 3rem;
    }
    &--text {
      width: 80%;
      margin: 1rem auto;
      font-size: 32px;
      text-align: center;
    }
  }
  &__image {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    &__content--title {
      display: unset;
    }
    &__content--text {
      text-align: left;
    }
    &__image {
      display: unset;
      width: 700px;
    }
  }
}
