.navbar {
  padding-right: 1rem;
  display: none;
  &__name {
    display: none;
  }
  &__links {
    > * {
      margin-left: 10px;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .navbar {
    &__head {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    &__name {
      display: block;
      font-size: 40px;
    }
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    &__head {
      display: none;
    }
    &__links {
      display: flex;
      width: 40%;
      justify-content: space-around;
      color: grey;
      > * {
        font-size: 25px;
        text-decoration: none;
      }
    }
  }
}
