.portfolio {
  width: 75vw;
  margin: 0 auto;

  &__head {
    text-align: center;
    margin: 1rem auto;
    font-size: 35px;
    letter-spacing: 2px;
  }

  &__project {
    color: black;
    background-color: rgb(234, 245, 245);
    margin: 1rem auto;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__language {
      display: flex;
      justify-content: space-around;
      color: rgb(47, 47, 125);
      margin-top: 10px;
      text-align: left;
      font-size: 18px;
      font-weight: 700;

      & span {
        color: rgb(80, 167, 233);
      }
    }

    &__head {
      text-align: center;
      font-size: 25px;
      margin-bottom: 10px;
    }

    &__text {
      width: 95%;
      margin: 10px auto;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }

    &__links {
      margin-top: auto;
      display: flex;
      justify-content: space-between;

      &--code,
      &--preview {
        border: 1px solid black;
        padding: 3px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
          color: white;
          background-color: rgb(42, 42, 118);
        }
      }

      &--preview {
        padding: 40px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    &__project {
      width: 90%;
      height: 700px;

      &__head {
        font-size: 20px;
      }

      &__text {
        width: 95%;
        margin: 5px auto;
        font-size: 20px;
      }

      &__links {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
