@use "./_variables.scss" as *;
.about{
    
    &__title{
        margin-bottom: 3rem;
        font-size: 40px;
    }
    &__image{
        width: 85vw;
        max-width: min-content;
        
        margin-bottom: 3rem;
        &--desktop{
            display: none;
        }
    }
    &__text{
        width: 85vw;
        margin-bottom: 3rem;
    }
}