@use "./_variables.scss" as *;
.contact {
  margin-bottom: 4rem;
  width: 85vw;
  &__title {
    font-size: 70px;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 4rem;
  }
  &__button {
    display: block;
    padding: 1rem 4rem;
    margin: 0 auto;
    background-color: $primary-color;
    color: white;
  }
}
