.contact {
  background: $primary;
  color: #000;
  width: 75vw;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}
.contact__head {
  font-size: 2rem;
  color: #007ced;
  margin-bottom: 1rem;
}
