.footer {
  background: $clr-text-dark;
  padding: $space-l 0;
  text-align: center;

  &__links {
    display: flex;
    justify-content: center;
    gap: $space-m;

    a {
      font-size: 1.5rem;
      color: $clr-bg-dark;
      transition: $transition;

      &:hover {
        color: $clr-primary;
        transform: translateY(-4px);
      }
    }
  }
}
