@use "./_variables.scss" as *;

.header {
  &__title {
    font-size: 40px;
    margin-bottom: 3rem;
  }
  &__text {
    width: 85vw;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    margin-bottom: 4rem;
    margin-left: 3rem;
    &__title {
      text-align: start;
      font-size: 70px;
    }
    &__text {
      text-align: start;
      max-width: 50%;
    }
  }
}
