@use "./_variables.scss" as *;

.project {
  margin-top: 2rem;
  &__foot {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__img {
    border: 5px solid $primary-color-3;
    width: 85vw;
    height: calc(85vw / 1.7);

    margin-bottom: 1rem;
  }
  &__icons {
    &__fa {
      color: $secondary-color-1;
      &:hover {
        color: $secondary-color-3;
      }
    }
  }
  &__tech {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .project {
    &__img {
      width: 27vw;
      height: calc(27vw / 1.5);
    }
    &__tech {
      margin-top: 2rem;

      display: flex;
      &__p {
        margin-right: 1rem;
        font-weight: 500;
      }
    }
  }
}
