@use "./_variables.scss" as *;
.project{
    margin-top: 2rem;
    &__foot{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__img{
        width: 85vw;
        margin-bottom: 1rem;
    }
    &__icons{
        img{
            width: 20px;
            height: 20px;
            border: 1px solid black;
            border-radius: 50%;
            padding: 3px;
        }
        
    }
}
