@use "./styles/_variables.scss" as *;
.project{
    .project-img{
        width: 85vw;
        margin-bottom: 1rem;
    }
    .icons{
        img{
            width: 20px;
            height: 20px;
            border: 1px solid black;
            border-radius: 50%;
            padding: 3px;
        }
        
    }
}
.project-foot{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}