@use "./_variables.scss" as *;

.skills {
  display: none;
}

@media screen and (min-width: 1440px) {
  .skills {
    display: unset;
    margin-bottom: 1rem;
    &__title {
      font-size: 40px;
      margin-right: 10rem;
      margin-bottom: 5rem;
      color: $primary-color-1;
    }
    &__skills-title {
      width: 20vw;
    }
    &__details {
      display: flex;
      justify-content: space-evenly;
    }
    &__images {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 50vw;
      margin: 0 auto;
    }
    &__text {
      max-width: 60%;
      margin-right: 10rem;
    }

    &__icon * {
      fill: $secondary-color-2;
      &:hover {
        fill: $secondary-color-3;
      }
    }
    &__image {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 120px;
      color: $secondary-color-2;
      &:hover {
        color: $secondary-color-3;
      }
    }
    &__name {
      text-align: center;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
