$primary-color-1: hsl(43, 86%, 17%);
$primary-color-2: hsl(43, 77%, 27%);
$primary-color-3: hsl(42, 63%, 48%);
$primary-color-4: hsl(43, 89%, 70%);
$primary-color-5: hsl(43, 90%, 76%);
$primary-color-6: hsl(45, 90%, 88%);
$secondary-color-1: hsl(209, 61%, 16%);
$secondary-color-2: hsl(209, 34%, 30%);
$secondary-color-3: hsl(209, 28%, 39%);
$secondary-color-4: hsl(209, 23%, 60%);
$secondary-color-5: #fff;
