* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(64, 58, 58);
  color: white;
}

span {
  color: rgb(217, 136, 29);
}

a:link {
  transition: 0.2s ease-in-out;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(217, 136, 29);
}

.navbar {
  display: none;
}
.navbar__name {
  display: none;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header__content {
  display: flex;
  flex-direction: column;
}
.header__content--title {
  font-size: 25px;
  margin-top: 3rem;
}
.header__content--text {
  width: 80%;
  margin: 1rem auto;
  font-size: 32px;
  text-align: center;
}
.header__image {
  display: none;
}

.about-me {
  width: 70vw;
  margin: 0 auto;
}
.about-me__head {
  text-align: center;
  width: 200px;
  margin: 2rem auto;
  font-size: 30px;
}
.about-me__head--desktop {
  display: none;
}
.about-me__image {
  border: 1px solid rgb(217, 136, 29);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.about-me__desktop {
  display: none;
}

.skills {
  width: 70vw;
  margin: 2rem auto;
}
.skills__head {
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 35px;
}
.skills__text {
  text-align: center;
  margin-bottom: 2rem;
}
.skills__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
}
.skills__item {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  transition: 0.3s ease-in-out;
}
.skills__item:hover {
  transform: scale(1.1);
}
.skills__item--name {
  text-align: center;
}

.portfolio {
  width: 75vw;
  margin: 0 auto;
}
.portfolio__head {
  text-align: center;
  margin: 1rem auto;
  font-size: 35px;
  letter-spacing: 2px;
}
.portfolio__project {
  color: black;
  background-color: rgb(234, 245, 245);
  margin: 1rem auto;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.portfolio__project__language {
  display: flex;
  justify-content: space-around;
  color: rgb(47, 47, 125);
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}
.portfolio__project__language span {
  color: rgb(80, 167, 233);
}
.portfolio__project__head {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}
.portfolio__project__text {
  width: 95%;
  margin: 10px auto;
}
.portfolio__project__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.portfolio__project__links {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.portfolio__project__links--code {
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.portfolio__project__links--code:hover {
  color: white;
  background-color: rgb(42, 42, 118);
}
.portfolio__project__links--preview {
  border: 1px solid black;
  padding: 40px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.portfolio__project__links--preview:hover {
  color: white;
  background-color: rgb(42, 42, 118);
}

.contact {
  font-size: 2rem;
  text-align: center;
  width: 75vw;
  background-color: rgb(64, 58, 58);
  margin: 2rem auto;
  display: none;
}
.contact__head {
  color: black;
  letter-spacing: 2px;
}

.footer {
  margin-top: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 1rem;
}
.footer__img {
  width: 30px;
  font-size: 40px;
  color: white;
}
.footer__img:hover {
  color: blue;
  transition: color 0.3s ease;
}
.footer__links {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .navbar__head {
    display: block;
  }
  .about-me__head {
    margin: 1rem auto;
    font-size: 40px;
  }
  .about-me__text {
    font-size: 18px;
  }
  .skills {
    margin: 1rem auto;
  }
  .skills__grid {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
  }
  .skills__head {
    margin: 2rem auto;
  }
  .skills__text {
    font-size: 18px;
  }
  .skills__item {
    width: 70px;
    height: 70px;
  }
  .skills__item--logo {
    width: 45px;
    height: 45px;
  }
  .portfolio__project__language {
    font-size: 22px;
  }
  .portfolio__project__head {
    font-size: 35px;
  }
  .contact {
    display: block;
  }
  .footer {
    margin-top: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 1rem;
  }
  .footer__img {
    width: 30px;
    font-size: 40px;
    color: white;
  }
  .footer__img:hover {
    color: blue;
    transition: color 0.3s ease;
  }
  .footer__links {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .header__content--title {
    display: none;
  }
  .navbar {
    display: none;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
  .navbar__name {
    display: block;
    font-size: 40px;
  }
  .navbar__head {
    display: none;
  }
  .navbar__links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    color: grey;
  }
  .navbar__links > * {
    font-size: 25px;
    text-decoration: none;
  }
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .header__content--title {
    display: unset;
  }
  .header__content--text {
    text-align: left;
  }
  .header__image {
    display: unset;
    width: 700px;
  }
  .about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-me__head {
    display: none;
  }
  .about-me__image {
    border: 1px solid rgb(217, 136, 29);
    border-radius: 3%;
    width: 1250px;
    height: 350px;
  }
  .about-me__text {
    margin-left: 4rem;
    font-size: 20px;
  }
  .about-me__desktop {
    display: block;
    font-size: 25px;
    margin-left: 4rem;
    margin-bottom: 1rem;
  }
  .about-me__desktop--container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }
  .portfolio__project {
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 20px;
  }
  .portfolio__project__links > * {
    text-align: center;
    padding: 5px;
    width: 90px;
  }
}
@media screen and (min-width: 1048px) {
  .about-me__image {
    height: 500px;
  }
}
body {
  font-family: "Prompt";
}/*# sourceMappingURL=main.css.map */