* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body {
  display: flex;
  flex-direction: column;
}
span {
  color: rgb(217, 136, 29);
}
a:visited {
  color: inherit;
}
a:hover {
  color: rgb(25, 19, 60);
}
.navbar {
  display: none;
  &__name {
    display: none;
  }
}
.header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    &--title {
      font-size: 25px;
      margin-top: 3rem;
    }
    &--text {
      width: 80%;
      margin: 1rem auto;
      font-size: 32px;
      text-align: center;
    }
  }
  &__image {
    display: none;
  }
}
.about-me {
  &__head {
    text-align: center;
    width: 200px;
    margin: 2rem auto;
    font-size: 30px;
    &--desktop {
      display: none;
    }
  }
  width: 70vw;
  margin: 0 auto;
  &__image {
    border: 1px solid red;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.skills {
  &__head {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    font-size: 30px;
  }
  &__text {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    width: 70vw;
    height: 70vw;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--logo {
      width: 70%;
      height: 70%;
    }
    &--name {
      text-align: center;
    }
  }
  width: 70vw;
  margin: 2rem auto;
}
.portfolio {
  width: 75vw;
  margin: 0 auto;
  &__head {
    text-align: center;
    width: 200px;
    margin: 2rem auto;
    font-size: 35px;
  }
  &__project {
    width: 75vw;
    background-color: rgb(234, 245, 245);
    margin: 1rem auto;
    padding: 5vw;

    &__language {
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
    }
    &__head {
      text-align: center;
      font-size: 35px;
      margin-bottom: 10px;
    }
    &__text {
      width: 65vw;
      margin: 10px auto;
    }
    &__image {
      width: 65vw;
      height: 44vw;
    }
  }
  &__project__links {
    width: 65vw;
    display: flex;
    justify-content: space-between;
    &--code {
      border: 1px solid black;
      padding: 3px 30px;
      border-radius: 5px;
    }
    &--preview {
      border: 1px solid black;
      padding: 3px 18px;
      border-radius: 5px;
    }
  }
}
.footer {
  margin-top: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 1rem;

  &__img {
    width: 30px;
    font-size: 40px;
    color: white;
    &:hover {
      color: blue;
      transition: color 0.3s ease;
    }
  }
  &__links {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  span {
    color: rgb(217, 136, 29);
  }
  .navbar {
    display: flex;
    justify-content: space-between;

    padding: 1.5rem;
    &__head {
      font-size: 30px;
    }
    &__links {
      display: flex;
      width: 40%;
      justify-content: space-around;
      color: grey;
      > * {
        font-size: 25px;
        text-decoration: none;
      }
    }
  }
  .header {
    width: 80vw;
    margin: 0 auto;

    &__content {
      display: flex;
      flex-direction: column;
      &--title {
        display: none;
      }
      &--text {
        width: 80%;
        margin: 1rem auto;
        font-size: 32px;
        text-align: center;
      }
    }
    &__image {
      display: none;
    }
  }
  .about-me {
    &__head {
      text-align: center;
      width: 200px;
      margin: 1rem auto;
      font-size: 40px;
    }
    width: 70vw;
    margin: 0 auto;
    &__image {
      border: 1px solid red;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
    &__text {
      font-size: 18px;
    }
  }
  .skills {
    &__head {
      margin: 2rem auto;
      font-size: 30px;
    }
    &__text {
      font-size: 18px;
    }

    &__item {
      &--logo {
        width: 55%;
        height: 55%;
      }
    }

    margin: 1rem auto;
  }
  .portfolio {
    width: 75vw;
    margin: 0 auto;
    &__head {
      text-align: center;
      width: 200px;
      margin: 1rem auto;
      font-size: 35px;
    }
    &__project {
      width: 75vw;
      background-color: rgb(234, 245, 245);
      margin: 1rem auto;
      padding: 5vw;

      &__language {
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
      }
      &__head {
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
      }
      &__text {
        width: 65vw;
        margin: 10px auto;
      }
      &__image {
        width: 65vw;
        height: 44vw;
      }
    }
    &__project__links {
      width: 65vw;
      display: flex;
      justify-content: space-between;
      &--code {
        border: 1px solid black;
        padding: 3px 30px;
        border-radius: 5px;
      }
      &--preview {
        border: 1px solid black;
        padding: 3px 18px;
        border-radius: 5px;
      }
    }
  }
  .footer {
    margin-top: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 1rem;

    &__img {
      width: 30px;
      font-size: 40px;
      color: white;
      &:hover {
        color: blue;
        transition: color 0.3s ease;
      }
    }
    &__links {
      width: 75vw;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    &__head {
      display: none;
    }
    &__name {
      display: block;
      font-size: 30px;
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    &__content--title {
      display: unset;
    }
    &__content--text {
      text-align: left;
    }
    &__image {
      display: unset;
      width: 700px;
    }
  }
  .about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__head {
      display: none;
    }
    &__image {
      border: 1px solid red;
      border-radius: 3%;
      width: 1250px;
      height: 350px;
    }
    &__text {
      margin-left: 4rem;
      font-size: 20px;
    }
    &__desktop {
      margin-left: 4rem;
      margin-bottom: 1rem;
    }
  }
  .skills {
    &__grid {
      display: flex;
      height: 100px;
    }
    &__item--logo {
      padding: 5px;
      width: 7vw;
      height: 7vw;
    }
  }
  .about-me__desktop {
    display: block;
    font-size: 25px;
    &--container {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}
