* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(64, 58, 58);
  color: white;
  font-family: "Prompt";
}

span {
  color: rgb(217, 136, 29);
}

a:link {
  transition: 0.2s ease-in-out;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(217, 136, 29);
}

.navbar {
  padding-right: 1rem;
  display: none;
}
.navbar__name {
  display: none;
}
.navbar__links > * {
  margin-left: 10px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .navbar__head {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
  .navbar__name {
    display: block;
    font-size: 40px;
  }
  .navbar__head {
    display: none;
  }
  .navbar__links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    color: grey;
  }
  .navbar__links > * {
    font-size: 25px;
    text-decoration: none;
  }
}
.header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header__content {
  display: flex;
  flex-direction: column;
}
.header__content--title {
  font-size: 25px;
  margin-top: 3rem;
}
.header__content--text {
  width: 80%;
  margin: 1rem auto;
  font-size: 32px;
  text-align: center;
}
.header__image {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .header__content--title {
    display: unset;
  }
  .header__content--text {
    text-align: left;
  }
  .header__image {
    display: unset;
    width: 700px;
  }
}
.about-me {
  width: 70vw;
  margin: 0 auto;
}
.about-me__desktop {
  display: none;
}
.about-me__head {
  text-align: center;
  width: 200px;
  margin: 2rem auto;
  font-size: 30px;
}
.about-me__image {
  border: 1px solid rgb(217, 136, 29);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .about-me__head {
    margin: 1rem auto;
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .about-me__mobile {
    display: none;
  }
  .about-me__desktop {
    display: block;
  }
  .about-me__desktop-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10%;
  }
  .about-me__desktop-content {
    display: flex;
    flex-direction: row;
  }
  .about-me__image {
    width: 30%;
    height: auto;
    border-radius: 3%;
  }
  .about-me__text {
    width: 60%;
    font-size: 20px;
  }
}

@media screen and (min-width: 1048px) {
  .about-me__image {
    height: 500px;
  }
}
.skills {
  width: 70vw;
  margin: 2rem auto;
}
.skills__head {
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 35px;
}
.skills__text {
  text-align: center;
  margin-bottom: 2rem;
}
.skills__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
}
.skills__item {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  transition: 0.3s ease-in-out;
}
.skills__item:hover {
  transform: scale(1.1);
}
.skills__item--name {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .skills__grid {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
  }
  .skills__head {
    margin: 2rem auto;
  }
  .skills__text {
    font-size: 18px;
  }
  .skills__item {
    width: 70px;
    height: 70px;
  }
  .skills__item--logo {
    width: 45px;
    height: 45px;
  }
}

.portfolio {
  width: 75vw;
  margin: 0 auto;
}
.portfolio__head {
  text-align: center;
  margin: 1rem auto;
  font-size: 35px;
  letter-spacing: 2px;
}
.portfolio__project {
  color: black;
  background-color: rgb(234, 245, 245);
  margin: 1rem auto;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.portfolio__project__language {
  display: flex;
  justify-content: space-around;
  color: rgb(47, 47, 125);
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}
.portfolio__project__language span {
  color: rgb(80, 167, 233);
}
.portfolio__project__head {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}
.portfolio__project__text {
  width: 95%;
  margin: 10px auto;
}
.portfolio__project__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.portfolio__project__links {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.portfolio__project__links--code, .portfolio__project__links--preview {
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.portfolio__project__links--code:hover, .portfolio__project__links--preview:hover {
  color: white;
  background-color: rgb(42, 42, 118);
}
.portfolio__project__links--preview {
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .portfolio__project {
    width: 90%;
    height: 700px;
  }
  .portfolio__project__head {
    font-size: 20px;
  }
  .portfolio__project__text {
    width: 95%;
    margin: 5px auto;
    font-size: 20px;
  }
  .portfolio__project__links {
    width: 80%;
    margin: 0 auto;
  }
}

.contact {
  width: 70vw;
  margin: 0 auto;
}
.contact__head {
  text-align: center;
  margin: 1rem auto;
  font-size: 35px;
  letter-spacing: 2px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact__form--input {
  width: 80%;
  height: 50px;
  padding-left: 10px;
  border: none;
  margin: 0.5rem auto;
  border-radius: 5px;
}
.contact__form--textarea {
  width: 80%;
  padding: 1rem;
  margin: 0.5rem auto;
  border-radius: 5px;
  border: none;
}
.contact__form--submit {
  width: 25%;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin: 1rem auto;
  transition: 0.2s ease-in-out;
  border: 1px solid black;
  background-color: rgb(234, 245, 245);
}
.contact__form--submit:hover {
  color: white;
  background-color: rgb(40, 167, 69);
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .contact .contact__form--input,
  .contact .contact__form--textarea {
    width: 70%;
  }
  .contact .contact__form--submit {
    width: 15%;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__link {
  color: white;
  margin: 1rem;
  transition: 0.3s ease-in-out;
}
.footer__link:hover {
  color: rgb(217, 136, 29);
}
.footer__link--icon {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */