@import "variables";

@import "base";

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: $border-radius;
  font-weight: 600;
  border: 2px solid transparent;
  transition: $transition;
  cursor: pointer;

  &--primary {
    background-color: $clr-primary;
    color: $clr-bg-dark;
    &:hover {
      background-color: transparent;
      color: $clr-primary;
      border-color: $clr-primary;
    }
  }

  &--secondary {
    background-color: transparent;
    color: $clr-primary;
    border-color: $clr-border;
    &:hover {
      background-color: $clr-primary;
      color: $clr-bg-dark;
      border-color: $clr-primary;
    }
  }
}

@import "navbar";
@import "hero";
@import "footer";

@import "skills";
@import "portfolio";
@import "contact";
